body {
  background: black;
  color: greenyellow;
  font-family: "Courier New", Courier, monospace;
}

.grid2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.grid4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
