body {
  background: black;
  color: yellow;
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
}

.grid2 {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

@media screen and (min-width: 992px) {
  .grid2 {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* 
.container {
  text-align: center;
  margin-top: 200px;
} */

/* 
.grid {
  display: grid;
}

.grid2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.tickets_grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

@media screen and (min-width: 796px) {
  .tickets_grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 992px) {
  .tickets_grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (min-width: 1400px) {
  .tickets_grid {
    grid-template-columns: repeat(6, 1fr);
  }
} */

a,
a:visited {
  color: yellow;
  text-decoration: none;
}

.logo {
  height: 30px;
}

.nav_balance {
  position: absolute;
  right: 0;
  padding: 10px;
  text-align: right;
}

.nav_left > a {
  vertical-align: middle;
}

.button {
  border: 1px solid yellowgreen;
  background: yellow;
  color: red;
  font-weight: 700;
  padding: 6px 8px;
  border-radius: 5px;
  box-shadow: 2px 2px silver;
  cursor: pointer;
}

.button_large {
  font-size: larger;
  padding: 8px 12px;
}

.button:hover {
  box-shadow: 1px 1px silver;
}

.button:active {
  box-shadow: none;
}

.ticket {
  /* border: 1px red solid; */
  padding: 20px;
  margin: 20px;
}

.text-center {
  text-align: center;
}

.slot_img {
  width: 150px;
}

.ticket_img {
  width: 150px;
}

.machine {
  text-align: center;
}

.hash {
  cursor: copy;
}
